<div class="col-md-3 mb-4 d-flex align-items-stretch">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ cardTitle }}</h5>
            <p class="card-text">{{ cardText }}</p>
            <a href="{{ cardLink }}" class="btn btn-primary">{{ cardLinkText }}</a>
        </div>
    </div>
</div>
